<h2 mat-dialog-title></h2>
<mat-dialog-content [formGroup]="form">
   <mat-form-field class="new-entry-field" formControlName="description">
      <input matInput placeholder="Entry Description">
    </mat-form-field>
    <mat-form-field class="new-entry-field" formControlName="isExpense">
      <mat-select placeholder="Entry type">
      <mat-option *ngFor="let type of types" [value]="type.value">{{type.display}}
      </mat-option>
      </mat-select>
    </mat-form-field> 
  <br>
    <mat-form-field class="new-entry-field" formControlName="value">
      <input matInput placeholder="Entry Value">
    </mat-form-field>
    <br>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  
  <button class="mat-raised-button mat-primary"(click)="save()">Close</button>
  
</mat-dialog-actions>